.wrapper {
    max-width: calc(1080px + (var(--wrapperPadding) * 2));
    margin: auto;
    padding: var(--wrapperPadding) var(--wrapperPadding);
}
.social {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px -16px;
    padding: 0px;
    list-style: none;
}
.body--project .social {
    justify-content: center;
}
.modal .social {
    justify-content: start;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.social__icon {
    width: 20px;
    height: 20px;
    fill: #000;
    transition: .3s;
}
.social__icon:hover {
    fill: #3167FD;
}
.body--projects .social {
    display: none;
}
.modal .social {
    display: flex;
}
.body--projects .social__icon {
    fill: #E0E0E0;
}
.body--projects .social__icon:hover {
    fill: #3167FD;
}
.modal .social__icon {
    fill: #000;
}
@media (min-width: 1025px) {
    .works--slider .social {
        position: fixed;
        left: 36px;
        top: calc((50vh + 33px) + 64px);
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .works--grid .social {
        display: none;
    }
}

@media (min-width: 1284px) {
    .works--slider .social {
        left: calc((100vw - 1080px) / 2 - 72px);
    }
    .works--grid .social {
        display: flex;
        position: absolute;
        right: calc(100% + 36px);
        top: calc(50vh - 25px);
        flex-direction: column;
        width: 52px;
        margin: 0px;
    }
}