.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    background-color: var(--colorSecondaryTwo);
    opacity: 0;
    transform: translateY(-150vh);
    transition: .8s ease;
}
.modal--active {
    opacity: 1;
    transform: translateY(0vh);
}
.modal__decoration {
    position: absolute;
    top: -36px;
    bottom: -36px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    width: calc(100% - (36px * 2));
}
.modal__line {
    z-index: -1;
    width: 1px;
    background-color: var(--colorSecondaryFour);
}
.modal__line:nth-child(1) {
    display: none;
}
.modal__items {
    margin: -64px 0px 40px 0px;
    padding: 0px;
    list-style: none;
    opacity: 0;
    transition: 1.6s ease;
}
.modal__items--active {
    margin-top: 0px;
    opacity: 1;
}
.modal__item {
    margin-bottom: 8px;
    font-family: var(--fontSansSerif);
    font-weight: 900;
    font-size: 16vw;
}
.modal__item:last-child {
    margin-bottom: 0px;
}
.modal__link {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-decoration: none;
}
.modal__item:first-child .modal__link {
    color: var(--colorPrimaryOne);
}

@media (min-width: 575px) {
    .modal__line:nth-child(1) {
        display: block;
    }
    .modal__item {
        font-size: 92px;
    }
}

@media (min-width: 1025px) {
    .modal {
        display: none;
    }
}